<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <img src="/images/logo-mercado-liebre.svg" alt="">
  <p>Lugar para poner la barra de busqueda</p> 
  <p>Compra en cuotas y sin tarjet</p>
  <ul>
      <li>Ofertas</li>
      <li>Tiendas Oficiales</li>
      <li>Vender</li>
      <li>Ayuda</li>
  </ul>
  <ul>
      <li>Creá tu cuenta
      <li>Ingresá</li>
      <li>Mis compras</li>
     
  </ul>


    
</body>
</html>