<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
            <img src="/images/logo-mercado-liebre.svg" alt="">
            <p>Lugar para poner la barra de busqueda</p> 
            <p>Compra en cuotas y sin tarjeta</p>
                <ul>
                    <li>Ofertas</li>
                    <li>Tiendas Oficiales</li>
                    <li>Vender</li>
                    <li>Ayuda</li>
                </ul>
                <ul>
                    <li>Creá tu cuenta
                    <li>Ingresá</li>
                    <li>Mis compras</li>  
                </ul>
            <img height="100px" src="/images/img-home-banner.jpg" alt="">
    </header>
        
    <main>
        <h2>Basado en tu ultima visita</h2>
        <img height="500px" src="/images/img-cafetera-moulinex.jpg" alt="">
            <p>$6.770</p>
            <p>40% OFF</p>
            <h3>Cafetera Moulinex</h3>
        <img height="500px" src="/images/img-macbook-pro-2019.jpg" alt="">
            <p>$230.000</p>
            <p>20% OFF</p>
            <h3>MacBook Pro 2019</h3>
        <img height="500px" src="/images/img-samsung-galaxy-s10.jpg" alt="">
            <p>$70.500</p>
            <p>10% OFF</p>
            <h3>Samsung Galaxy S10</h3>
        <img height="500px" src="/images/img-tv-samsung-smart.jpg" alt="">
            <p>$23.200</p>
            <p>5% OFF</p>
            <h3>SmartTv Samsung 43"</h3>
        <h2>Sección de Ofertas</h2>
            <img height="500px" src="/images/img-cafetera-moulinex.jpg" alt="">
            <p>$6.770</p>
            <p>40% OFF</p>
            <h3>Cafetera Moulinex</h3>
        <img height="500px" src="/images/img-macbook-pro-2019.jpg" alt="">
            <p>$230.000</p>
            <p>20% OFF</p>
            <h3>MacBook Pro 2019</h3>
        <img height="500px" src="/images/img-samsung-galaxy-s10.jpg" alt="">
            <p>$70.500</p>
            <p>10% OFF</p>
            <h3>Samsung Galaxy S10</h3>
        <img height="500px" src="/images/img-tv-samsung-smart.jpg" alt="">
            <p>$23.200</p>
            <p>5% OFF</p>
            <h3>SmartTv Samsung 43"</h3>
    </main>

    <footer>
        <blockquote><h3>Pagá con tarjeta o en efectivo</h3>
            Con Mercado Liebre Cash, tenés cuotas sin 
            interés con tarjeta o efectivo en puntos de 
            pago. ¡Y siempre es seguro!</blockquote>

        <blockquote><h3>Envío gratis desde $ 2.500</h3>
            Solo por estar registrad@ en Mercado Liebre 
            tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</blockquote>

        <blockquote><h3>Seguridad, de principio a fin</h3>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, 
            no hay nada que no puedas hacer,
            porque estás siempre protegid@.</blockquote>
            
        <blockquote>  
            Copyright © 1999-2020 MercadoLiebre S.R.L.</blockquote>
    </footer>
    
</body>
</html>